.button {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00a4a4;
  border-radius: 12px;
  outline: none;
  border: none;
}
.button:hover {
  transition: background-color 0.2s;
  background-color: #007878;
}
.button:active {
  transition: background-color 0.2s;
  background-color: #2bc9c9;
}
.disabled {
  color: var(--white);
  background-color: #c8d6d6;
  cursor: not-allowed;
}
.disabled:hover {
  color: var(--white);
  background-color: #c8d6d6;
}
.disabled:active {
  color: var(--white);
  background-color: #c8d6d6;
}
.secondaryDisable {
  background-color: #fff;
  color: #c8d6d6;
  border: 2px solid #c8d6d6;
  cursor: not-allowed;
}
.secondaryDisable:hover {
  color: #c8d6d6;
  background-color: #fff;
}
.secondaryDisable:active {
  color: #c8d6d6;
  background-color: #fff;
}
.secondary {
  background-color: #fff;
  border: 2px solid #00a4a4;
}
.secondary:hover {
  border: 2px solid #007878;
  background-color: #def2f2;
  transition: background-color 0.2s;
}
.secondary:active {
  border: 2px solid;
  background-color: #fff;
  transition: background-color 0.2s;
}
.loading {
  background-color: #e5e5e5;
  border: 2px solid #2bc9c9;
}
